body, html {
  background-color: #ff0;
}

/*******************
  * HEADER STYLE *
******************/


.row {
  max-width: 100%;
  margin-right: 0;
  margin-left: 0;
}

#header {
  height: 90px;
  transition: all 0.3s;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin: 0 auto;
  background-color: #ff0;
  border-bottom: 14px solid #000;
  text-transform: capitalize;
  position: fixed;
  z-index: 200;
}

#logo {
  margin-left: 1.1em;
  width: 130px;
  height: 130px;
  background-color: #ff0;
  color: #000;
  border: 14px solid #000;
  text-transform: uppercase;
  font-size: 2.5em;
  text-align: center;
  line-height: 90px;
  margin-top: 30px;
  transition: all 0.3s ease;
  border-radius: 50%;
  z-index: 100;
  background-image: url("/images/logo-full.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

#logo:hover {
  background-color: #fefefe;
  cursor: pointer;
}

#menu {
  margin-left: 60px;
  justify-content: space-between;
  line-height: 90px;
  transition: all 0.3s;
}

a {
  outline: 0 !important;
}

input::-moz-focus-inner { 
  border: 0; 
}

a.active {
  text-decoration: underline;
}

.nav-link {
  display: inline;
  padding: 0px 6px 10px 6px; 
  text-align: left;
  margin-right: 10px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

a.nav-link {
  color: #000;
  font-size: 1.1em;
  font-family: "Arimo", sans-serif;
  text-decoration: none;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 3px;
  left: 50%;
  bottom:0;
  background-color: black;
  transition: all ease-out .3s;
}

a.nav-link:hover::after{
  width: 100%;
  left: 0;
}

.active {
  border-top: 3px solid black;
  padding-top: 8px;
}

.active:hover {
  border-top: 3px solid black;
  padding-top: 8px;
}

.active:hover::after {
  width: 0px;
}

.nav-item {
  padding: 6px 4px 6px 4px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: border 0.2s ease;
}


/************************
  * BURGER MENU STYLE *  
***********************/


#burger {
  border-left: 10px solid #000;
  max-width: 106px;
  min-width: 106px;
  height: 70px;
  text-align: center;
  line-height: 80px;
  font-family: "Arimo", sans-serif;
  font-size: 1.3em;
  transition: all 0.3s;
}

#burger:hover {
  cursor: pointer;
}

#mobile-menu {
  transition: all 0.6s;
}

.mob-nav-link {
  border-bottom: 8px solid #000;
  padding: 14px 0;
  background-color: #fefefe;
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: 1.3em;
  position: relative;
  z-index: 2;
  top: -44px;
  cursor: pointer;
  display: none;
}

.mob-links:hover {
  text-decoration: none;
  color: black;
}

.open {
  display: block;
  visibility: visible;
}


/**************************
  * HEADER IMAGE SECTION * 
 *************************/


.header-image {
  width: 100%;
  height: 41em;
  background-image: url("/images/header-image.jpg");
  border-bottom: 14px solid #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  display: grid;
  text-align: center;
  position: relative;
}

.my-desc {
  position: absolute;
  top: 21em;
  left: 250px;
  max-width: 400px;
}

.short-intro {
  text-align: left;
  max-width: 610px;
  font-size: 3.2em;
  line-height: 1em;
  padding: 20px;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  text-transform: uppercase;
  position: relative;
  left: -20px;
  z-index: 100;
  text-shadow: 2px 2px 4px #333;
}

.short-info-background {
  min-width: 258px;
  text-align: left;
  max-width: 610px;
  font-size: 3.6em;
  height: 32px;
  padding: 18px;
  position: absolute;
  top: 26px;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  background-color: black;
  z-index: 10;
}

.short-info-background-text {
  text-align: left;
  max-width: 610px;
  font-size: 1.1em;
  font-family: 'Fjalla One', sans-serif;
  color: #222;
  text-transform: capitalize;
  margin-bottom: 22px;
  margin-top: 20px;
}

.short-info-background-text2 {
  text-align: left;
  max-width: 610px;
  font-size: 1.1em;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  margin-bottom: 22px;
}

.short-info-background-text3 {
  text-align: left;
  max-width: 610px;
  font-size: 1.1em;
  font-family: 'Fjalla One', sans-serif;
}

.yellow-text {
  background-color: #ff0;
  padding: 6px;
  letter-spacing: 0.5px;
}

.black-text {
  background-color: #222;
  padding: 6px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
}


/**************************
  * MAIN CONTENT SECTION *
**************************/


main {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #ff0;
}

.main-content {
  text-align: center;
  padding: 3em 30px 1em 30px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1500px;
}

.projects-header,
.skills-header,
.reads-header {
  background: black;
  height: 2.5em;
  color: #fefefe;
  font-size: 3em;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  line-height: 3em;
  margin-bottom: 2em;
  letter-spacing: 4px;
}

.project-item {
  margin: 0 3em;
  text-align: center;
  max-width: 1400px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.project-image-mob {
  display: none!important;
}

.project-image-circle {
  border-radius: 50%;
}

.project-image-mca,
.project-image-isc,
.project-image-bmm,
.project-image-uma {
  min-width: 250px;
  min-height: 250px;
  border: 14px solid #000;
  display: inline-block;
}

.project-image-mca {
  background-image: url("/images/mca.jpg");
  margin-right: 5%;
}

.project-image-isc {
  background-image: url("/images/isc.jpg");
  margin-left: 5%;
}

.project-image-bmm {
  background-image: url("/images/bmm.jpg");
  margin-right: 5%;
  background-position: center;
}

.project-image-uma {
  background-image: url("/images/uma.jpg");
  margin-left: 5%;
}

.project-description {
  border: 14px solid #000;
  text-align: center;
  display: inline-block;
  color: #222;
  padding: 2em;
  position: relative;
  background-color: #fefefe;
}

.project-description h1 {
  display: inline;
  text-align: center;
  font-size: 2.2em;
  font-weight: 900;
  color: #222;
  font-family: 'Fjalla One', sans-serif;
  line-height: 1.25em;
  letter-spacing: 0.06em;
  padding-right: 1em;
  /*background-color: #f9f58f; */
  padding: 0.2em;
}

.project-description h4 {
  margin-top: 2em;
  text-align: center;
  font-size: 1.2em;
  font-weight: 800;
  color: #222;
  font-family: 'Fjalla One', sans-serif;
  padding-right: 1em;
  line-height: 1.6em;
  /* background-color: #f9f58f; */
  word-spacing: 4px;
  padding: 4px;
}

a {
  color: black;
}

.project-links {
  padding: 11em 0px 0px 0px;
  font-family: 'Fjalla One', sans-serif;
  color: #222;
}

.github-link,
.website-link {
  font-size: 5em;
}

.icons-link {
  display: inline-block;
  height: 30px;
  width: 30px;
  color: #222;
}

.icons {
  text-align: center;
}

.demo-link, .gh-link, .demo-link-na {
  display: inline-block;
}


/******************************************
  * OLD STYLE FOR PROJECTS LINKS *
*****************************************/


/*

.icons-details {
  color: #222;
  font-size: 1.2em;
  display: block;
  z-index: 100;
  letter-spacing: 1px;
  margin-left: -9px;
}

.demo-link,
.demo-link-na,
.gh-link {
  width: 195px;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.demo-link::before, 
.gh-link::before,
.demo-link-na::before   {
  width: 80px;
  height: 80px;
  top: -130px;
  margin-left: -50.5px;
  content: " ";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% auto;
  left: 50%;
  z-index: 100;  
}

.demo-link::before {
  background-image: url("/images/view-project-icon.png");
}

.gh-link::before  {
  background-image: url("/images/view-code-icon.png");
}

.demo-link-na::before  {
  background-image: url("/images/view-project-icon.png"); 
}

.demo-link::after,
.demo-link-na::after,
.gh-link::after {
  width: 0px;
  height: 0px;
  content: " ";
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 25px;
  opacity: 1;
  top: -576%;
  left: 34.2%;
  z-index: 1;
  transform: translateX(-25%) translateY(-25%);
  -webkit-transition: width ease 0.5s, height ease 0.5s, margin ease 0.5s,
  -o-transition: width ease 0.4s, height ease 0.5s, margin ease 0.5s,
    opacity ease 0.2s;
  transition: width ease 0.5s, height ease 0.5s, margin ease 0.5s,
    opacity ease 0.2s;
  -webkit-transition-delay: 0s, 0s, 0s, 0.4s;
  -o-transition-delay: 0s, 0s, 0s, 0.4s;
  transition-delay: 0s, 0s, 0s, 0.4s;
  background-color: #ffff9f;
  border-radius: 50%;
}

.demo-link-na::after {
  top: -576%;
  left: 33%;
}

.gh-link::after {
  top: -570%;
  left: 34.6%;
}

.demo-link:hover::after,
.gh-link:hover::after,
.demo-link-na:hover::after {
  content: " ";
  position: absolute;
  width: 80px;
  height: 80px;
  margin: 55px;
  background: #f9f58f;
  margin: 0;
  opacity: 1;
  border-radius: 50%;
  z-index: 1;
}

.demo-link-na:hover::after {
  background: #ece432;
}

*/


/**************************
  * SKILLS SECTION STYLE * 
*************************/


.skills-section {
  margin-bottom: 4em;
}

.skills {
  font-size: 7em;
  width: 50%;
  margin: 0 auto;
  color: black;
}

.skills-icon {
  width: 100px;
  height: 100px;
  margin: 0.3em;
  transition: color 0.3s ease-in-out;
}

.skills-icon:hover {
  color: #933A16;
}

.sass-skill {
  margin-left: -25px;
}

.skills-icon-jquery, .skills-icon-photoshop {
  margin: 0em 0.3em;
  height: 100px;
  width: 100px;
  background-size: 100% auto;
  display: inline-block;
  background-repeat: no-repeat;
}

.skills-icon-jquery {
  background-image: url("/images/jQuery.png");
  transition: background-image 0.3s;
}

.skills-icon-jquery:hover {
  background-image: url("/images/jQuery-hover.png");
}


.skills-icon-photoshop {
  background-image: url("/images/Photoshop.png");
  transition: background-image 0.3s;
}

.skills-icon-photoshop:hover {
  background-image: url("/images/Photoshop-hover.png");
}


/*************************
  * READS SECTION STYLE * 
************************/


.reads-section {
  margin-bottom: 4em;
}

.reads-container {
  max-width: 70%;
  margin: 0 auto;
  color: black;
  display: flex;
  align-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.book {
  display: inline-block;
}

.books {
  border: 4px solid black;
  margin: 40px;
}


/*************************
  * ABOUT SECTION STYLE * 
************************/


.about-section {
  max-width: 100%;
  background-color: black;
  color: #fefefe;
  font-family: 'Fjalla One', sans-serif;
  margin: 0 auto;
  text-align: center;
}

.about-container {
  max-width: 1500px;
  text-align: center;
  margin: 0 auto;
}

.about-header {
  background: black;
  height: 2.5em;
  color: #fefefe;
  font-size: 3em;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  line-height: 3em;
  margin-bottom: 2em;
  padding-top: 0.5em;
  letter-spacing: 1px;
}

.about-me-content {
  margin: 0 auto;
  text-align: center;
}

.about-content {
  padding: 60px 30px;
  display: inline-block;
  text-align: left;
  margin: 0px 3em;
}

.about-content h1, .hobbies-content h1 {
  font-size: 1.6em;
  margin-bottom: 2em;
}

.hobbies-content {
  padding: 60px 10px;
  width: 45%;
  display: inline-block;
  margin-left: -4px;
  max-width: 500px;
}

.about-details {
  background-color: #fefefe;
  color: #333300;
  max-width: 400px;
  font-weight: 500;
  padding: 16px;
  margin-bottom: 0.4em;
  display: flex;
  align-content: space-between;
}

.hobby-container {
  display: inline-block;
  padding: 30px 20px;
  margin: 0 auto;
  text-align: center;
}

.hobby {
  background-color: #fefefe;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.hobby-icon {
  display:block;
  margin:auto;
  width: 40px;
  height: 40px;
}

.hobby-info {
  letter-spacing: 0.05em;
  font-weight: 600;
  margin-top: 1em;
}

.copyright {
  background-color: #ff0;
  padding: 1.2em 0;
  color: black;
  font-size: 1.5em;
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
}


/******************************************
  * ALTERNATIVE STYLE FOR PROJECTS LINKS *
*****************************************/


.icons {
  height: 40px;
}

.demo-link::before,
.gh-link::after,
.demo-link-na ,
.demo-link:hover::after,
.demo-link-na::before,
.gh-link::before {
  display: none !important;
}

.demo-link,
.gh-link {
  width: 160px;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.demo-link {
  margin-right: 50px;
}

.icons-details {
  color: #222;
  font-size: 1em;
  display: block;
  z-index: 100;
  letter-spacing: 1px;
  margin-left: -9px;
  border: 4px solid #000;
  padding: 12px 6px;
  transition: all 0.3s;
}

.icons-details-project {
}

.icons-details-code {
}

.icons-details:first-child {
  margin-bottom: 2em;
}

.project-links {
  padding: 2.5em 0px 0px 0px;
  font-family: 'Fjalla One', sans-serif;
}

.icons-details-project:hover {
  background-color: #222;
  color: #fff;
}

.icons-details-code:hover {
  background-color: #222;
}

.icons-details:hover {
  color: #ffff9f;
  color: #fefefe;
}


/*******************************************
  * STYLE FOR DISPLAYS WITH MIN WIDTH 991px
******************************************/


@media only screen and (min-width: 991px) {

  #burger {
    display: none !important;
    }
}

/****************************************************
  * STYLE FOR DISPLAYS WIDTH BETWEEN 791px and 990px
***************************************************/


@media only screen and (max-width: 990px) {


 /*******************
  * HEADER STYLE *
 ******************/ 

  .container-fluid {
    margin: 0 auto;
    background-color: #ff0;
    border-bottom: 10px solid #000;
  }

  #logo {
    margin-left: 0.5em;
    width: 100px;
    height: 100px;
    border: 10px solid #000;
    margin-top: 22px;
    background-image: url("/images/logo-max990-500.png");
  }
 
  .col-9  {
    display: none !important;
  }

  #header {
    height: 70px;
    transition: all 0.3s;
  }

  .mob-nav-link {
    border-bottom: 10px solid #000;
    top: -42px;
  }


 /**************************
  * HEADER IMAGE SECTION * 
 *************************/


  .my-desc {
    left: 200px;
  }


/**************************
  * MAIN CONTENT SECTION *
 **************************/


  .icons {
    height: 40px;
  }

  .demo-link {
    width: 110px;
    margin-right: 20px;
  }

  .gh-link {
    width: 110px;
  }

  .project-image-circle {
    margin: 1em auto;
  }

  .project-image-mca,
  .project-image-isc,
  .project-image-bmm,
  .project-image-uma {
    min-width: 190px;
    min-height: 190px;
    max-width: 190px;
    max-height: 190px;
    border: 10px solid #000;
    background-image: url("/images/mca.jpg");
    display: block;
    margin: 0 auto;
    margin-right: 5%;
  }
  
  .project-image-isc {
    background-image: url("/images/isc.jpg");
    margin-left: 5%;
  }

  .project-image-bmm {
    background-image: url("/images/bmm.jpg");
    background-position: center;
    margin-right: 5%;
  }
  
  .project-image-uma {
    background-image: url("/images/uma.jpg");
    margin-left: 5%;
  }

  .project-description {
    border: 10px solid #000;
    display: block;
    padding: 2em 1em;
    max-width: 90%;
    margin: 0 auto;
  }
  
}

/****************************************************
  * STYLE FOR DISPLAYS WIDTH BETWEEN 501px and 790px
***************************************************/


@media only screen and (max-width: 790px) {


 /**************************
  * HEADER IMAGE SECTION * 
 *************************/

  .my-desc {
    left: 150px;
  }


 /**************************
  * MAIN CONTENT SECTION *
 **************************/


  .project-item {
    margin: 0;
    display: block;
    margin-bottom: 80px;
  }

  .project-image-mob {
    display: block !important;
  }

  .project-image-web {
    display: none!important;
  }

  .project-image-mca {
    margin: 1em auto;
  }
  
  .project-image-isc {
    margin: 1em auto;
  }

  .project-image-bmm {
    margin: 1em auto;
  }
  
  .project-image-uma {
    margin: 1em auto;
  }
}


/*******************************************
  * STYLE FOR DISPLAYS WITH MAX WIDTH 500px
******************************************/


@media only screen and (max-width: 500px) {


/*******************
  * HEADER STYLE *
******************/


  #menu {
    display: none; 
  }

  .container-fluid {
    margin-right: auto;
    margin-left: auto;
    border-bottom: 8px solid #000;
  }

  #header {
    height: 52px;
  }
  
  #logo {
    margin-left: 5px;
    width: 90px;
    height: 90px;
    font-size: 2em;
    border: 8px solid #000;
    line-height: 70px;
    margin-top: 11px !important;
    background-image: url("/images/logo-max990-500.png");
  }


 /************************
  * BURGER MENU STYLE *  
 ***********************/


  #burger {
    height: 54px;
    border-left: 8px solid #000;
    line-height: 54px;
  }

  .mob-nav-link {
    border-bottom: 8px solid #000;
    top: -40px;
  }


 /**************************
  * HEADER IMAGE SECTION * 
 *************************/


  .header-image {
    height: 36em;
    background-image: url("/images/mob-header-image.jpg");
    border-bottom: 8px solid #000;
  }

  .my-desc {
    top: 16em;
    left: 70px;
    max-width: 300px;
  }

  .short-intro {
    font-size: 2.8em;
    text-shadow: 1.5px 1.5px 4px #333;
  }
  
  .short-info-background {
    min-width: 224px;
    padding: 1px;
    top: 24px;
  }
  
  .short-info-background-text {
    margin-bottom: 20px;
    margin-top: 25px;
  }
  
  .yellow-text {
    padding: 4px;
  }
  
  .black-text {
    padding: 4px;
  }
  
  .short-info-background-text2 {
    margin-bottom: 20px;
  }


 /**************************
  * MAIN CONTENT SECTION *
 **************************/


  .main-content {
    padding: 3em 0px 1em 0px;
  }

  .projects-header,
  .skills-header,
  .reads-header {
    font-size: 1.8em;
    margin-bottom: 1.5em;
  }

  .about-header {
    height: 3em;
    font-size: 1.8em;
    margin-bottom: 1.4em;
  }

  .project-image-mca,
  .project-image-isc,
  .project-image-bmm,
  .project-image-uma {
    border: 8px solid #000;
  }
  
  .project-description {
    border: 8px solid #000;
    text-align: center;
    display: block;
    padding: 2em 1em;
    position: relative;
    max-width: 90%;
    margin: 0 auto;
  }

  .project-description h1 {
    font-size: 1.6em;
  }

  .project-description h4 {
    font-size: 1.05em;
    padding-right: 0em;
    line-height: 1.45em;
    text-align: center;
  }

  .project-image-mob {
    display: block !important;
  }

  .project-image-web {
    display: none!important;
  }

  .icons-details:hover {
    color: black;
}

#logo:hover {
  background-color: #ff0;
}

span.icons-details.icons-details-project {
  background-color: #fefefe;
}

span.icons-details.icons-details-code {
  background-color: #fefefe;
}

  .skills {
    font-size: 5em;
    width: 90%;
  }

  .skills-icon-jquery, .skills-icon-photoshop {
    height: 75px;
    width: 75px;
  }

  .skills-icon-jquery {
    background-image: url("/images/jQuery-mob.png");
  }
  
  .skills-icon-photoshop {
    background-image: url("/images/Photoshop-mob.png");
  }

  .books {
    width: 180px;
    height: 270px
  }

  .about-me-content {
    display: block;
    margin: 0 1em;
    height: 100%;
  }
  
  .about-content {
    padding: 40px 30px 20px 30px;
    display: block;
    width: 100%;
    margin: 0px;
    text-align: center;
    font-size: 0.9em;
  }
  
  .about-content h1, .hobbies-content h1 {
    font-size: 1.5em;
    margin-bottom: 2em;
  }

  .about-details {
    font-size: 1em;
  }
  
  .hobbies-content {
    padding: 60px 30px 40px 30px;
    width: 100%;
    display: block;
    text-align: left;
    margin-left: 0px;
    float: none;
    text-align: center;
    font-size: 0.9em;
  }

  .hobby {
    height: 56px;
    width: 56px;
    margin: 0 auto;
  }

  .hobby-icon {
    width: 25px;
    height: 25px;
  }

  .hobby-info {
    letter-spacing: 0.03em;
    font-size: 1em;
  }
  
  .copyright {
    display: block;
    font-size: 1.2em;
  }
}


/*******************************************
  * STYLE FOR DISPLAYS WITH MAX WIDTH 349px
******************************************/

@media screen and (max-width: 349px) {  

  .demo-link {
    width: 80px;
    line-height: 1.15em;
  }

  .gh-link {
    width: 80px;
    line-height: 1.15em;
  }
}